Tarot WebApp API.json
{
  "name": "Tarot WebApp API",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_valid_user_id }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        48,
        1008
      ],
      "name": "Check User ID",
      "id": "8f1c0c1d-3e33-483a-8229-2655dc5bb132"
    },
    {
      "parameters": {
        "jsCode": "// Создаем данные для гостевого пользователя\nconst webappData = $json;\n\nconst guestUserData = {\n  user_id: 'guest',\n  free_predictions_left: 3,\n  is_subscribed: false,\n  subscription_expiry_date: null,\n  referral_code: null\n};\n\nconst combinedData = {\n  user: guestUserData,\n  userName: webappData.user_name,\n  question: webappData.question,\n  card: webappData.card,\n  type: webappData.type,\n  timestamp: webappData.timestamp\n};\n\nconsole.log('Гостевые данные для AI:', JSON.stringify(combinedData, null, 2));\nreturn [{ json: combinedData }];"
      },
      "id": "f3e282c2-1f38-48f3-a232-9562b13cd2cb",
      "name": "Create Guest User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для AI Agent из найденного пользователя\nconst userData = $('Find User').first()?.json || {};\nconst webappData = $('Check User ID').first().json;\n\n// Объединяем данные пользователя и webapp\nconst combinedData = {\n  // Данные пользователя\n  user: {\n    user_id: userData.user_id || webappData.user_id || 'unknown',\n    free_predictions_left: userData.free_predictions_left || 0,\n    is_subscribed: userData.is_subscribed || false,\n    subscription_expiry_date: userData.subscription_expiry_date || null,\n    referral_code: userData.referral_code || null\n  },\n  // Данные для AI\n  userName: webappData.user_name,\n  question: webappData.question,\n  card: webappData.card,\n  type: webappData.type,\n  timestamp: webappData.timestamp\n};\n\nconsole.log('Данные зарегистрированного пользователя для AI:', JSON.stringify(combinedData, null, 2));\nreturn [{ json: combinedData }];"
      },
      "id": "a4c300db-0c35-4c98-92af-5842791ad702",
      "name": "Prepare Registered User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        928
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tarot-prediction",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "233459c6-3039-4cf0-8371-4de7d2a54d19",
      "name": "WebApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        848
      ],
      "webhookId": "1f000332-7554-413a-9e85-5f49f43313e8"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $request.method }}",
              "value2": "OPTIONS"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -432,
        848
      ],
      "name": "Check OPTIONS",
      "id": "1206b779-5e8e-4d5b-83fc-29738832fa8d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -224,
        688
      ],
      "name": "OPTIONS Response",
      "id": "0dcc2c6b-f220-4844-9682-c2af919b02a6"
    },
    {
      "parameters": {
        "jsCode": "// Обработка данных от WebApp (ИСПРАВЛЕНО для раскладов)\n\nconst requestData = $json;\nconsole.log('Входящие данные:', JSON.stringify(requestData, null, 2));\n\n// Извлекаем данные из правильной структуры\nconst bodyData = requestData.body || requestData;\nconst action = bodyData.action || requestData.action || 'generate_prediction';\nconst telegramId = bodyData.telegram_id || requestData.telegram_id;\nconst userName = bodyData.userName || requestData.userName || 'WebApp User';\nconst question = bodyData.question || requestData.question || '';\nconst type = bodyData.type || requestData.type || 'question';\n\n// КЛЮЧЕВОЕ ИСПРАВЛЕНИЕ: Правильная обработка карт (и одиночных, и массивов)\nlet cardsData = bodyData.cards || bodyData.card || requestData.cards || requestData.card;\nlet normalizedCards = [];\n\nif (Array.isArray(cardsData)) {\n    // Обрабатываем массив карт (для раскладов)\n    normalizedCards = cardsData.map(card => ({\n        name: card.name || 'Неизвестная карта',\n        symbol: card.symbol || '🔮',\n        meaning: card.meaning || card.meaningUpright || 'Тайное знание ожидает раскрытия',\n        meaningUpright: card.meaningUpright || card.meaning || 'Прямое значение',\n        meaningReversed: card.meaningReversed || 'Обратное значение',\n        description: card.description || 'Карта несет важное послание',\n        element: card.element || 'универсальный',\n        astrology: card.astrology || 'универсальное влияние',\n        keyPhrase: card.keyPhrase || 'Прислушайтесь к интуиции',\n        symbolism: card.symbolism || 'Глубокие архетипические образы',\n        type: card.type || 'Таро',\n        isReversed: card.isReversed || false,\n        image: card.image || card.imageUpright || null,\n        imageUpright: card.imageUpright || card.image || null,\n        imageReversed: card.imageReversed || null,\n        displayImage: card.displayImage || card.image || card.imageUpright || null\n    }));\n    console.log(`Обработано ${normalizedCards.length} карт для расклада`);\n} else if (cardsData && typeof cardsData === 'object') {\n    // Обрабатываем одиночную карту\n    normalizedCards = [{\n        name: cardsData.name || 'Неизвестная карта',\n        symbol: cardsData.symbol || '🔮',\n        meaning: cardsData.meaning || cardsData.meaningUpright || 'Тайное знание ожидает раскрытия',\n        meaningUpright: cardsData.meaningUpright || cardsData.meaning || 'Прямое значение',\n        meaningReversed: cardsData.meaningReversed || 'Обратное значение',\n        description: cardsData.description || 'Карта несет важное послание',\n        element: cardsData.element || 'универсальный',\n        astrology: cardsData.astrology || 'универсальное влияние',\n        keyPhrase: cardsData.keyPhrase || 'Прислушайтесь к интуиции',\n        symbolism: cardsData.symbolism || 'Глубокие архетипические образы',\n        type: cardsData.type || 'Таро',\n        isReversed: cardsData.isReversed || false,\n        image: cardsData.image || cardsData.imageUpright || null,\n        imageUpright: cardsData.imageUpright || cardsData.image || null,\n        imageReversed: cardsData.imageReversed || null,\n        displayImage: cardsData.displayImage || cardsData.image || cardsData.imageUpright || null\n    }];\n    console.log('Обработана 1 карта');\n}\n\n// ВАЖНО: Сохраняем additionalData для раскладов\nconst additionalData = bodyData.additionalData || requestData.additionalData || {};\nconsole.log('Additional data:', JSON.stringify(additionalData, null, 2));\n\n// Проверяем валидность telegram_id\nlet userId = null;\nif (telegramId && telegramId !== '0' && telegramId !== 0) {\n    const parsedId = parseInt(telegramId);\n    if (!isNaN(parsedId) && parsedId > 0) {\n        userId = parsedId;\n    }\n}\n\n// ИСПРАВЛЕНИЕ: Структурируем данные для всех последующих нод\nconst processedData = {\n    user_id: userId,\n    user_name: userName,\n    action: action,\n    question: question,\n    \n    // Для совместимости с существующими нодами\n    card: normalizedCards[0] || {}, // Первая карта для backward compatibility\n    \n    // Основные данные для новой ноды Generate Adaptive Prompts\n    cards: normalizedCards, // Массив всех карт\n    type: type,\n    additionalData: additionalData,\n    userName: userName, // Дублируем для прямого доступа\n    \n    timestamp: new Date().toISOString(),\n    has_valid_user_id: userId !== null,\n    \n    // Создаем body структуру для Generate Adaptive Prompts\n    body: {\n        userName: userName,\n        question: question,\n        cards: normalizedCards, // МАССИВ карт\n        type: type,\n        additionalData: additionalData\n    }\n};\n\nconsole.log('=== ФИНАЛЬНЫЕ ОБРАБОТАННЫЕ ДАННЫЕ ===');\nconsole.log('Тип:', type);\nconsole.log('Количество карт:', normalizedCards.length);\nconsole.log('Первая карта:', normalizedCards[0]?.name);\nconsole.log('Additional data keys:', Object.keys(additionalData));\nconsole.log('Has spreadConfig:', !!additionalData.spreadConfig);\nconsole.log('SpreadConfig name:', additionalData.spreadConfig?.name);\n\nreturn [{ json: processedData }];"
      },
      "id": "c1807b69-ba62-418c-a09f-a367374cafbf",
      "name": "Process WebApp Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tarot_user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        928
      ],
      "id": "612c2488-040b-48d5-a9e8-b48f51dc56c6",
      "name": "Find User",
      "credentials": {
        "supabaseApi": {
          "id": "RJ1zMMBihvxOCffN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        1104
      ],
      "id": "549e74a1-848d-408d-9dba-153abfbe2cf3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YhcxjPy8Xk9rNBat",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        992,
        928
      ],
      "name": "AI Agent",
      "id": "70b2c6e1-08fa-4a82-b70d-e69b67c4570d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1568,
        848
      ],
      "name": "Final Response",
      "id": "948811d6-8537-4879-8337-8fc471011cd5"
    },
    {
      "parameters": {
        "jsCode": "// Собираем финальные данные для ответа\nconst aiData = $('AI Agent').first()?.json;\nconst inputData = $input.first().json;\n\nconsole.log('AI данные:', JSON.stringify(aiData, null, 2));\nconsole.log('Input данные:', JSON.stringify(inputData, null, 2));\n\n// Формируем итоговый ответ\nconst finalResponse = {\n  success: true,\n  prediction: aiData?.output || 'Предсказание временно недоступно',\n  user: {\n    user_id: inputData?.user?.user_id || 'guest',\n    free_predictions_left: inputData?.user?.free_predictions_left || 3,\n    is_subscribed: inputData?.user?.is_subscribed || false,\n    subscription_expiry_date: inputData?.user?.subscription_expiry_date || null,\n    referral_code: inputData?.user?.referral_code || null\n  },\n  timestamp: inputData?.timestamp || new Date().toISOString()\n};\n\nconsole.log('Финальный ответ:', JSON.stringify(finalResponse, null, 2));\nreturn [{ json: finalResponse }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        848
      ],
      "id": "0a948ea2-83b4-42cf-b3e4-a34696e01f6b",
      "name": "Prepare Final Response"
    },
    {
      "parameters": {
        "jsCode": "// ========================================================================\n// 🎯 N8N NODE: Generate Adaptive Prompts (ФИНАЛЬНАЯ версия для workflow)\n// ========================================================================\n\nconsole.log('📥 Raw input data:', JSON.stringify($json, null, 2));\n\n// Извлекаем данные из структуры workflow\nconst inputData = $json;\n\n// Получаем основные параметры с множественными источниками\nconst requestType = inputData.type || inputData.body?.type || 'question';\nconst userName = inputData.userName || inputData.user_name || inputData.body?.userName || 'Гость';\nconst question = inputData.question || inputData.body?.question || '';\n\n// КРИТИЧЕСКИ ВАЖНО: Извлекаем additionalData\nlet additionalData = {};\nif (inputData.additionalData && typeof inputData.additionalData === 'object') {\n    additionalData = inputData.additionalData;\n} else if (inputData.body?.additionalData && typeof inputData.body.additionalData === 'object') {\n    additionalData = inputData.body.additionalData;\n}\n\nconsole.log('🔍 Extracted basic data:', {\n    requestType,\n    userName,\n    question: question.substring(0, 50) + '...',\n    hasAdditionalData: Object.keys(additionalData).length > 0,\n    spreadConfig: additionalData.spreadConfig?.name\n});\n\n// КЛЮЧЕВОЕ ИСПРАВЛЕНИЕ: Правильное извлечение карт\nlet cards = [];\n\n// Проверяем все возможные источники карт в правильном порядке\nif (inputData.cards && Array.isArray(inputData.cards)) {\n    cards = inputData.cards;\n    console.log('✅ Карты найдены в inputData.cards (array):', cards.length);\n} else if (inputData.body?.cards && Array.isArray(inputData.body.cards)) {\n    cards = inputData.body.cards;\n    console.log('✅ Карты найдены в inputData.body.cards (array):', cards.length);\n} else if (inputData.cards && typeof inputData.cards === 'object') {\n    cards = [inputData.cards];\n    console.log('✅ Карты найдены в inputData.cards (object)');\n} else if (inputData.body?.cards && typeof inputData.body.cards === 'object') {\n    cards = [inputData.body.cards];\n    console.log('✅ Карты найдены в inputData.body.cards (object)');\n} else if (inputData.card && typeof inputData.card === 'object') {\n    cards = [inputData.card];\n    console.log('✅ Карты найдены в inputData.card');\n} else if (inputData.body?.card && typeof inputData.body.card === 'object') {\n    cards = [inputData.body.card];\n    console.log('✅ Карты найдены в inputData.body.card');\n}\n\n// Fallback если карт совсем нет\nif (cards.length === 0) {\n    cards = [{\n        name: \"Мистическая карта\",\n        symbol: \"🔮\",\n        meaning: \"Энергия ожидания ответа\",\n        description: \"Вселенная готовит важное послание\",\n        isReversed: false\n    }];\n    console.warn('⚠️ Using fallback card');\n}\n\nconsole.log('🎯 Final processed data:', { \n    requestType, \n    userName, \n    cardsCount: cards.length,\n    firstCardName: cards[0]?.name,\n    questionLength: question.length,\n    additionalDataKeys: Object.keys(additionalData)\n});\n\n// Логируем информацию о картах для отладки\ncards.forEach((card, index) => {\n    console.log(`Card ${index + 1}: ${card.name} (${card.isReversed ? 'перевернутая' : 'прямая'})`);\n});\n\n// Базовая личность AI\nconst basePersonality = `Ты — мистический AI-помощник веб-приложения Таро \"Шепот карт\". \nТвой стиль: интуитивный, мудрый, но понятный. \nИспользуй мистические формулировки: \"Карты указывают...\", \"Вселенная шепчет...\", \"Энергии направляют...\".\nИзбегай категоричных утверждений.\nОтвечай на русском языке.`;\n\nlet systemMessage = '';\nlet userMessage = '';\n\n// Генерируем специализированные промпты\nswitch (requestType) {\n    \n    // ========================================================================\n    // 🃏 КАРТА ДНЯ\n    // ========================================================================\n    case 'daily_card':\n        systemMessage = `${basePersonality}\n\nЗАДАЧА: Создать вдохновляющее предсказание на день.\n\nКОНТЕКСТ:\n- Пользователь ${userName} получил карту дня\n- Это первое обращение к картам сегодня\n- Карта должна задать позитивный тон дню\n\nФОРМАТ ОТВЕТА: \n- Длина: 200-350 символов\n- Тон: вдохновляющий, мудрый\n- Структура: приветствие → толкование карты → совет на день\n- ОБЯЗАТЕЛЬНО упомяни имя пользователя в начале\n\nВАЖНО:\n- Учитывай ориентацию карты (прямая/перевернутая)\n- Фокусируйся на возможностях\n- Давай практические советы`;\n\n        const card = cards[0];\n        userMessage = `Карта дня для ${userName}: \"${card.name}\" ${card.symbol || '🎴'}\n\nДЕТАЛИ КАРТЫ:\nЗначение: ${card.meaning || card.meaningUpright || 'Мистическая энергия'}\nОписание: ${card.description || 'Карта несет важное послание'}\nОриентация: ${card.isReversed ? 'перевернутая' : 'прямая'}\nЭлемент: ${card.element || 'универсальный'}\nКлючевая фраза: ${card.keyPhrase || 'Прислушайтесь к интуиции'}`;\n        break;\n\n    // ========================================================================\n    // ❓ ОБЫЧНЫЙ ВОПРОС\n    // ========================================================================\n    case 'question':\n        systemMessage = `${basePersonality}\n\nЗАДАЧА: Ответить на конкретный вопрос пользователя через призму выпавшей карты.\n\nКОНТЕКСТ:\n- Пользователь задал важный вопрос: \"${question}\"\n- Нужно связать символизм карты с реальной ситуацией\n- Дать практичный, но мистически окрашенный совет\n\nФОРМАТ ОТВЕТА:\n- Длина: 300-500 символов  \n- Тон: понимающий, поддерживающий, мудрый\n- Структура: связь карты с вопросом → анализ → практическое направление\n- Избегай прямых ответов \"да/нет\"\n- Фокусируйся на том, что может контролировать человек\n\nВАЖНО: \n- Учитывай ориентацию карты\n- Не давай медицинских/финансовых/правовых консультаций\n- Направляй на личностный рост`;\n\n        const questionCard = cards[0];\n        userMessage = `ВОПРОС: \"${question}\"\nСпрашивает: ${userName}\n\nВЫПАВШАЯ КАРТА: \"${questionCard.name}\" ${questionCard.symbol || '🎴'}\n\nХАРАКТЕРИСТИКИ КАРТЫ:\n- Тип: ${questionCard.type || 'Таро'}\n- Значение прямое: ${questionCard.meaningUpright || questionCard.meaning || 'Требует интерпретации'}\n- Значение обратное: ${questionCard.meaningReversed || 'Внутренние процессы'}\n- Элемент: ${questionCard.element || 'универсальный'}\n- Астрология: ${questionCard.astrology || 'универсальное влияние'}\n- Ключевая фраза: \"${questionCard.keyPhrase || 'Прислушайтесь к интуиции'}\"\n- Символизм: ${questionCard.symbolism || 'Глубокие архетипические образы'}\n- Описание: ${questionCard.description || 'Карта несет важные послания'}\n- Ориентация: ${questionCard.isReversed ? 'перевернутая (внутренние аспекты, переосмысление)' : 'прямая (прямое действие энергии)'}\n\nЗАДАЧА ИНТЕРПРЕТАЦИИ: \nКак карта \"${questionCard.name}\" с её символизмом и энергией отвечает на вопрос \"${question}\"? \nКакое направление и понимание она дает для ситуации ${userName}?`;\n        break;\n\n    // ========================================================================\n    // 🔄 УТОЧНЯЮЩИЙ ВОПРОС\n    // ========================================================================\n    case 'clarifying_question':\n        systemMessage = `${basePersonality}\n\nЗАДАЧА: Дать глубокое уточнение к предыдущему предсказанию.\n\nКОНТЕКСТ:\n- Пользователь уже получил ответ на первоначальный вопрос\n- Теперь просит уточнение: \"${question}\"\n- Нужно создать связность с предыдущим ответом\n- Дать более детализированные рекомендации\n\nФОРМАТ ОТВЕТА:\n- Длина: 250-400 символов\n- Тон: глубокий, детализированный, мудрый\n- Структура: связь с предыдущим → новые аспекты → конкретный совет\n- Используй фразы: \"Углубляясь...\", \"Карты дополняют...\", \"В продолжение...\"\n\nПРИНЦИПЫ:\n- НЕ противоречь предыдущему ответу\n- Развивай уже данные советы\n- Показывай новые слои ситуации`;\n\n        const clarifyCard = cards[0];\n        const originalQuestion = additionalData.originalQuestion || 'предыдущий вопрос';\n        const originalAnswer = additionalData.originalAnswer || 'предыдущий ответ недоступен';\n        \n        userMessage = `УТОЧНЯЮЩИЙ ВОПРОС: \"${question}\"\nОт: ${userName}\n\nКОНТЕКСТ ПРЕДЫДУЩЕГО ДИАЛОГА:\nПервоначальный вопрос: \"${originalQuestion}\"\nПредыдущий ответ: \"${originalAnswer.substring(0, 300)}${originalAnswer.length > 300 ? '...' : ''}\"\n\nНОВАЯ КАРТА ДЛЯ УТОЧНЕНИЯ: \"${clarifyCard.name}\" ${clarifyCard.symbol || '🎴'}\n\nХАРАКТЕРИСТИКИ:\n- Значение: ${clarifyCard.meaningUpright || clarifyCard.meaning}\n- Ключевая фраза: \"${clarifyCard.keyPhrase}\"\n- Элемент: ${clarifyCard.element}\n- Символизм: ${clarifyCard.symbolism}\n- Ориентация: ${clarifyCard.isReversed ? 'перевернутая' : 'прямая'}\n\nЗАДАЧА: \nКак новая карта \"${clarifyCard.name}\" углубляет и дополняет понимание ситуации? \nКакие новые нюансы она открывает в контексте уточняющего вопроса \"${question}\"?`;\n        break;\n\n    // ========================================================================\n    // 🎴 РАСКЛАД (ИСПРАВЛЕНО)\n    // ========================================================================\n    case 'spread':\n        // Извлекаем конфигурацию расклада\n        const spreadConfig = additionalData.spreadConfig || {\n            name: 'Универсальный расклад',\n            description: 'Комплексный анализ ситуации',\n            cards: []\n        };\n        const spreadType = additionalData.spreadType || 'universal';\n        \n        console.log('🎴 Обрабатываем расклад:', spreadConfig.name);\n        console.log('🎴 Позиций в конфиге:', spreadConfig.cards?.length || 0);\n        \n        const spreadSpecifics = {\n            'success': { focus: 'достижении целей и преодолении препятствий', energy: 'целеустремленность' },\n            'love': { focus: 'отношениях и эмоциональной сфере', energy: 'эмоциональные связи' },\n            'money': { focus: 'финансах и материальном благополучии', energy: 'материальное благополучие' },\n            'growth': { focus: 'личностном развитии и духовном росте', energy: 'внутренний рост' },\n            'universal': { focus: 'жизненной ситуации', energy: 'гармония' }\n        };\n        \n        const currentSpread = spreadSpecifics[spreadType] || spreadSpecifics.universal;\n        \n        systemMessage = `${basePersonality}\n\nЗАДАЧА: Создать целостную интерпретацию многокарточного расклада.\n\nКОНТЕКСТ:\n- Расклад \"${spreadConfig.name}\"\n- Основной фокус: ${currentSpread.focus}\n- Энергетическая тема: ${currentSpread.energy}\n- Все карты связаны единой историей\n\nФОРМАТ ОТВЕТА:\n- Длина: 600-900 символов\n- Структура: общий обзор → ключевые взаимосвязи → практические советы → заключение\n- Рассматривай карты как единую историю развития ситуации\n\nОСОБЕННОСТИ РАСКЛАДА:\n${spreadConfig.description}\n\nПРИНЦИПЫ ИНТЕРПРЕТАЦИИ:\n- Покажи, как позиции влияют друг на друга\n- Найди центральную тему всего расклада\n- Учитывай баланс прямых и перевернутых карт\n- Дай конкретные, применимые советы`;\n\n        const positions = spreadConfig.cards || [];\n        \n        // ИСПРАВЛЕНИЕ: Правильная обработка всех карт расклада\n        const cardsDescription = cards.map((card, index) => {\n            const position = positions[index] || { \n                label: `Позиция ${index + 1}`, \n                description: 'Анализ аспекта ситуации' \n            };\n            \n            return `${index + 1}. ПОЗИЦИЯ \"${position.label.toUpperCase()}\":\n🃏 Карта: \"${card.name}\" ${card.symbol || '🎴'}\n📋 Роль позиции: ${position.description}\n✨ Значение: ${card.meaningUpright || card.meaning || 'Требует интуитивного понимания'}\n🔑 Ключевая фраза: \"${card.keyPhrase || 'Прислушайтесь к интуиции'}\"\n🔄 Ориентация: ${card.isReversed ? 'перевернутая (внутренние аспекты)' : 'прямая (активная энергия)'}`;\n        }).join('\\n\\n');\n        \n        userMessage = `РАСКЛАД \"${spreadConfig.name}\" для ${userName}\nТема запроса: \"${question}\"\n\nКАРТЫ РАСКЛАДА:\n${cardsDescription}\n\nДОПОЛНИТЕЛЬНЫЙ АНАЛИЗ:\n- Общее количество карт: ${cards.length}\n- Прямых карт: ${cards.filter(c => !c.isReversed).length}\n- Перевернутых карт: ${cards.filter(c => c.isReversed).length}\n- Энергетический баланс: ${cards.filter(c => !c.isReversed).length > cards.filter(c => c.isReversed).length ? 'преобладает активная энергия' : cards.filter(c => c.isReversed).length > cards.filter(c => !c.isReversed).length ? 'требуется внутренняя работа' : 'баланс внешнего и внутреннего'}\n\nЗАДАЧА: Создай целостную историю, показывающую взаимодействие всех карт и развитие ситуации через позиции расклада.`;\n        break;\n\n    // ========================================================================\n    // 🚫 DEFAULT\n    // ========================================================================\n    default:\n        systemMessage = `${basePersonality}\n\nЗАДАЧА: Дать мудрый совет через карты.\nФОРМАТ: 200-400 символов, понятный и вдохновляющий.`;\n\n        const defaultCard = cards[0];\n        userMessage = `Запрос от ${userName}: \"${question || 'общее руководство'}\"\nКарта: \"${defaultCard.name}\" ${defaultCard.symbol || '🎴'}\nЗначение: ${defaultCard.meaning || defaultCard.meaningUpright}`;\n        break;\n}\n\n// Логирование результата\nconsole.log('✅ Prompts generated successfully:', {\n    requestType,\n    userName,\n    systemLength: systemMessage.length,\n    userLength: userMessage.length,\n    cardsProcessed: cards.length,\n    spreadConfigName: additionalData.spreadConfig?.name\n});\n\n// Возврат результата\nreturn {\n    systemMessage: systemMessage.trim(),\n    userMessage: userMessage.trim(),\n    requestType: requestType,\n    userName: userName,\n    originalData: inputData,\n    processedCards: cards,\n    metadata: {\n        promptGenerated: true,\n        timestamp: new Date().toISOString(),\n        cardsCount: cards.length,\n        hasContext: requestType === 'clarifying_question' && additionalData.originalAnswer,\n        spreadConfig: additionalData.spreadConfig?.name,\n        dataSource: 'workflow_final'\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        688
      ],
      "id": "70e0c299-31bb-4446-b028-6e5bee8c57e2",
      "name": "Generate Adaptive Prompts"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        688
      ],
      "id": "c1236e53-1dae-47de-bd3c-fe86b336751e",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Check User ID": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Guest User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Registered User Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "WebApp Webhook": {
      "main": [
        [
          {
            "node": "Check OPTIONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OPTIONS": {
      "main": [
        [
          {
            "node": "OPTIONS Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process WebApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process WebApp Data": {
      "main": [
        [
          {
            "node": "Check User ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "Prepare Registered User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Response": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Adaptive Prompts": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate Adaptive Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b93f1d9b-e4af-474a-8a40-5142798299c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6cad6c126517b400f4c184c0dab99010767f9f501361323a0faac97bc6800ce1"
  },
  "id": "RkuQeYAPrMF4XpIR",
  "tags": [
    {
      "createdAt": "2025-07-01T16:52:37.157Z",
      "updatedAt": "2025-07-01T16:53:08.699Z",
      "id": "eTmtbMgJp4PZFCsW",
      "name": "таро"
    }
  ]
}